@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700&family=Raleway:wght@200;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poltawski Nowy', serif;
    text-decoration: none;
    background: var(--bkgd);
}
:root{
    --main: #225228;
    --bkgd: rgb(247, 245, 237);
}
.navi{
    padding: 15px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--bkgd);
}
.logo{
    color: var(--main);
}
.menu-navi{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    list-style: none;
}
.menu-navi li a{
    color: var(--main);
    font-size: 1.3rem;
}
.home{
    background-image: url(images/forest.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90vh;
}
.home-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    background-color: var(--bkgd);
    padding: 10px;
    border: #383838;
    border-radius: 20% 2% 20% 2%;
}
.home-card h1{
    text-align: center;
}
.home-card img{
    height: 70vh;
    background: transparent;
}
.about{
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.left-card{

}
.right-card{
    width: 30vw;
    font-size: 1.2rem;
    background-color: white;
}
.right-card p{
    color: #383838;
}
.right-card h2{
    color: #225228;
}
.left-border{
    left: 70%;
}